* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  /* background-color: #333333;
  color: #f6f6f6; */
}

/* .app {
  width: 100%;
} */

/* nav {
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5%;
}

nav img {
  height: 8rem;
}

nav p {
  font-size: 2rem;
}

.display_section {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.display {
  width: 30%;
  padding: 1.5rem;
  overflow: scroll;
}

.display::-webkit-scrollbar {
  display: none;
}

.title {
  font-size: 2.4rem;
  margin-bottom: 1.5rem;
}

.explanation {
  margin-top: 1.5rem;
  font-size: 1.6rem;
}

.pod_image {
  width: 65%;
  overflow: scroll;
}

.pod_image::-webkit-scrollbar {
  display: none;
}

.pod_image img {
  max-width: 100%;
  object-fit: fill;
} */






/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
